---
body_class: page-index
---

<section class="landing">
  {{> header }}
  
	<div class="container">
		<div class="brand-heading-group align-center">
			<h1 class="brand-heading-group--main">Turn your pages into CMS automatically!</h1>
			<h2 class="brand-heading-group--sub">
				Just upload your assets, select editable parts and download
				your new CMS
			</h2>
		</div>
	</div>
</section>

<section class="testimonials">
	<div class="container">
		<h2 class="heading heading__sm heading__bolder heading__orange heading__upcase align-center">
			What 'em bitches say about us
		</h2>

		<div class="testimonials--wrapper">
			<div class="testimonials--holder">
				<div class="testimonials--testimonial">
					One
				</div>
			</div>

			<div class="testimonials--holder">
				<div class="testimonials--testimonial">
					RocketBuilt finally solved all of the pain with implementing CMS. Because now you don’t have implement anything.
				</div>
			</div>

			<div class="testimonials--holder">
				<div class="testimonials--testimonial">
					Three
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flow">
</section>

<section class="upload">
	<h1 class="align-center brand-heading-group--main brand-heading-group--main__white">Get ready to deploy CMS on output</h1>
</section>