---
body_class: page-upload
page_specific_js: [
	'js/drag-drop.js'
]
---

<section class="landing">
	{{> header }}
	<h1 class="align-center landing--heading brand-heading-group--main">Get fucking started now!</h1>

	<div class="container">
		<div class="landing--grid">
			<div class="landing--grid--left">
				<div id="drag-drop" class="landing--drag-drop align-center">
					<div class="landing--content-holder">
						<h4 class="landing--drag-drop--heading">Drag & Drop you static website directory here</h4>
						<a href="#" class="button button__lg button__blue-filled table-center">Browse directory</a>
						<p class="landing--drag-drop--subtitle">or <a href="#">use our sample website</a></p>
					</div>
				</div>
			</div>
			<div class="landing--grid--right">
				<div class="landing--description">
					<div class="landing--content-holder">
						<h1 class="landing--description--heading">It's free.</h1>
						<h1 class="landing--description--heading">And always will be*</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>