<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer--column">
				<ul class="footer--list">
					<h3 class="footer--heading">RocketBuilt</h3>

					<li class="footer--item">
						<a href="#" class="footer--link">How it works</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">Documentation</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="footer--column">
				<ul class="footer--list">
					<h3 class="footer--heading">Community</h3>

					<li class="footer--item">
						<a href="#" class="footer--link">How it works</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">Documentation</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="footer--column">
				<ul class="footer--list">
					<h3 class="footer--heading">Get in touch</h3>

					<li class="footer--item">
						<a href="#" class="footer--link">How it works</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">Documentation</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="footer--column">
				<ul class="footer--list">
					<h3 class="footer--heading">Spread the word</h3>

					<li class="footer--item">
						<a href="#" class="footer--link">How it works</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">Documentation</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="footer--column">
				<ul class="footer--list">
					<h3 class="footer--heading">No one reads</h3>

					<li class="footer--item">
						<a href="#" class="footer--link">How it works</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">Documentation</a>
					</li>
					<li class="footer--item">
						<a href="#" class="footer--link">FAQ</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>