<header class="header">
	<div class="header--wrapper container">
		<div class="header--logo-wrapper">
			{{> logo }}
		</div>

		<nav>
			<ul class="header--pages">
				<li class="header--pages--item">
					<a href="#" class="header--pages--link">How it works</a>
				</li>
				<li class="header--pages--item">
					<a href="#" class="header--pages--link">Docs</a>
				</li>
				<li class="header--pages--item">
					<a href="#" class="header--pages--link">Become a part</a>
				</li>
				<li class="header--pages--item">
					<a href="#" class="header--pages--link">People behind</a>
				</li>

				<li class="header--pages--item">
					<a href="#" class="header--pages--link">We are looking for sponsors!</a>
				</li>

				<li class="header--pages--item">
					<a href="#" class="button button__sm button__orange-filled">Get started</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
