.page-index {
	.testimonials {
		padding-top: calculateRem(40px);
		background: $background-light-blue;
		min-height: 300px;

		@include component('wrapper') {
			margin-top: calculateRem(25px);
			@include row;
		}

		@include component('holder') {
			@include span-columns(4);
		}

		@include component('testimonial') {
			display: none;
			padding: 20px;
			background: white;
			border-radius: 15px;
		}
	}
}