$brand-dark-blue: #2F2D63;
$brand-normal-blue: #2963A5;
$brand-lighter-blue: #B7D2EE;
$brand-light-blue: #EDF4FB;

$brand-normal-orange: #D86643;
$brand-light-orange: #EB9C3D;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$lighter-grey: #969696;

$default-font-family: 'proxima-nova-soft';

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 600;
$font-weight-4: 700;